.header a.web{
    font-size: 20px;
    color: #100E24;;
    text-decoration: none;
    display: none;
}
.header a.back-button{
    display: block;
}
.forget-one {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.forget-one h2{
    font-size: 24px;
    color: #100E24;
}
.forget-one p {
    font-size: 16px;
    color: #100E24;
    margin-bottom: 50px;
}
.forget-one form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.forget-one form .form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}
.forget-one button.submit{
    background-color: #4E46B4;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    width: 100%;
}
.forget-one .an-account p {
    font-size: 14px;
    color: rgba(16, 14, 36, 0.5);
    margin-bottom: 0;
}
.forget-one .an-account a {
    font-size: 14px;
    color: black;
    text-decoration: none;
}





/* ----------------responsive-sec---------------- */

@media only screen and (min-width: 420px) {
.forget-one h2 {
    font-size: 32px;  
}

}

@media only screen and (min-width: 576px) {
    
}

@media only screen and (min-width: 768px) {
.header a.web {
    display: block;
}
.header a.back-button {
    display: none;
}
  
.forget-one h2 {
    font-size: 48px;
    text-align: center;
    padding: 0 12px;
}
.forget-one p {
    text-align: center;
}
.forget-one form {
    display: block;
    padding: 0px 70px;
}
.forget-one {
    
    max-width: 615px;

}
}

@media only screen and (min-width: 991px) {}

@media only screen and (min-width: 1200px) {}